<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Article</title>
  <link rel="stylesheet" href="/assets/stylesheets/c.css">
</head>
<body>
  <div class="centered-content">
    <table>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <td><strong>Title:</strong></td>
      <td><%= @article.title %></td>
    </tr>
    <tr>
      <td><strong>Content:</strong></td>
      <td><%= @article.content %></td>
    </tr>
    <tr>
      <td><strong>Status:</strong></td>
      <td><%= @article.status %></td>
    </tr>
    <tr>
      <td><strong>Created At:</strong></td>
      <td><%= time_ago_in_words(@article.created_at) %> ago</td>
    </tr>
  </table>
  <div class="button-group">
  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-outline-danger', style: 'float: left; margin-right: 10px;' %>
  <%= link_to 'Back', articles_path, class: 'btn btn-danger', style: 'float: left;' %>
  <div style="clear: both;"></div>
  </div>
  </div>
</body>
</html>
